.Add {
  width: 90%;
  margin: auto;
}
@media (min-width: 800px) {
  .Add {
    width: 50%;
    margin: auto;
  }
 }

.Add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Add-form-buttons {
  display: flex;
  justify-content: space-around;
  padding: 3vh 0;
}

.Add-form-item {
  margin: 3vh 0!important;
}
